/*
公共类
*/
.clearfix::after{
	content: "";
    clear:both;
    display: block;
    width: 0;
    height: 0;
    font-size: 0;
}
/*
header 样式设置
*/
.header{
	width: 1100px;
	margin: 10px auto;
}
.header h1.logo{
	width: 100px;
	height: 45px;
	/*overflow: hidden;*/
	font: left;
	margin-top: 8px;
}
.header h1.logo img{
	width: 100%;
}
.header h1.logo{
	float: left;
}
.menu{
	float: right;
}
.menu li {
	float: left;
}
.menu li a{
	color: #666;
	text-decoration: none;
	display: inline-block;
	margin: 0 15px;
	padding:20px 0;
	border-bottom: 3px solid #fff;
}
.menu li a:hover{
	color:#00a7ea;
	border-bottom: 3px solid #00a7ea;
}
/*banner 样式设置*/
.banner{
	height: 260px;
	background-image: url(../images/brief_banner.jpg);
}
